<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shianxian.trace.flow.dao.PurchaseInOrderDetailDao" >

    <!-- 根据模板id分页查询模板详情 -->
    <select id="selectPurchaseInOrderDetailByPage" resultType="com.shianxian.trace.flow.vo.PurchaseInOrderDetailVO">
        select m.id AS material_id, m.material_name, c.id AS category_id, c.category_name, u.id AS unit_id, u.unit_name, s.id AS supplier_id, s.supplier_name,
        p.supplier_in_order_no, pio.id AS purchase_in_order_id, p.purchase_in_order_num, p.quarantine_no
        FROM t_purchase_in_order_detail p
        LEFT JOIN t_purchase_in_order pio ON pio.id = p.purchase_in_order_id
        LEFT JOIN t_material m ON m.id = p.material_id
        LEFT JOIN t_category c ON c.id = p.category_id
        LEFT JOIN t_unit u ON u.id = p.unit_id
        LEFT JOIN t_supplier s ON s.id = p.supplier_id
        WHERE p.purchase_in_order_id = #{purchaseInOrderId}
    </select>

    <!-- 根据企业id、物料id、物料类型查询库存 -->
    <select id="selectRepertory" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT m.num
        FROM t_material m
        RIGHT JOIN t_purchase_in_order_detail od ON od.material_id = m.id
        WHERE m.company_id = #{queryMap.companyId}
        AND m.material_type = #{queryMap.materialType}
        AND m.id = #{queryMap.materialId}
    </select>
</mapper>